<!DOCTYPE html>
<html>
<head>
	<title>Abhishek Singh website</title>
</head>
<body>
	<div>
            <h1><a href="/">Django</a></h1>
        </div>
         {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
        {% endfor %}

        <div>
            <p>published: 9.10.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hopefully it works</p>
        </div>

        <div>
            <p>published: 9.10.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Need to start planning for GRE exam</p>
        </div>

</body>
</html>