<!DOCTYPE html>
<html>
<head>
	<title>Abhishek Singh website</title>
</head>
<body>
	<div>
            <h1><a href="/">Django</a></h1>
        </div>

        <div>
            <p>published: 9.10.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hopefully it works</p>
        </div>

        <div>
            <p>published: 9.10.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Need to start planning for GRE exam</p>
        </div>
</body>
</html>